/* RESPONSIVE */

@media (max-width: 900px) {
  .hero {
    grid-template-columns: minmax(0, 1fr);
    gap: 2.4rem;
  }

  .hero__right {
    justify-content: flex-start;
  }

  .about__content {
    display: block;
  }

  .about__text {
    padding: 0 0.2rem;
  }

  .projects__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .project-featured {
    grid-template-columns: minmax(0, 1fr);
  }

  .project-featured,
  .project-featured--reverse {
    direction: ltr;
  }

  .project-featured__content,
  .project-featured--normal .project-featured__content {
    text-align: left;
  }

  .project-featured__tech-list,
  .project-featured__links {
    justify-content: flex-start;
  }

  .social-bar {
    display: none;
  }
}

@media (max-width: 720px) {
  .navbar__nav {
    display: none;
  }

  .navbar__burger {
    display: flex;
  }

  main {
    padding: 0 1.2rem 3rem;
  }

  .projects__grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .section {
    padding: 100px 0;
  }
}